.dashboard-list {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dashboard-lists h3 {
    padding: 10px;
}

@media screen and (min-width: 64rem) {
    .dashboard-list {
        display: flex;
        flex-direction: row;
        background-color: white;
    }
}