.question-detail {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
}

.question-detail div {
    padding: 10px;
}

.question-detail div img {
    height: 190px;
}


.question-detail .text {
    font-size: 16px;
    color: darkblue;
    text-align: center;
    width: 250px;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f0f1f30a;
}

.question-detail button {
    background-color: lightgray;
}

.question-view {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    background-color: #fff;
    margin: 20px;
}

.question-view div {
    padding: 10px;
}

.question-view .heading {
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    margin: 0px;
    width: 100%;
    background-color: #87cefabc;
    text-align: center;
}


.question-view .text {
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f1f3;
    align-self: stretch;
}

.question-view .votes {
    color: darkblue;
}

.question-view button {
    background-color: lightgray;
}

.question-view button:disabled,
button[disabled]{
    border: 1px solid #999999;
    color: #666666;
}

.question-view .answer-text {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #f0f1f3;
    align-self: stretch;
}

.question-view .answer-text .input {
    margin-left: auto;
}
