.question-view {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #92d1f42a;
    min-width: 250px;
}

.question-view img {
    height: 150px;
    margin-top: 10px;
}

.question-view div {
    padding: 5px;
    align-items: center;
}

.question-view .heading {
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    margin: 0px;
    width: 90%;
    background-color: #87cefabc;
    text-align: center;
}

.question-view .author img {
    height: 75px;
}

.question-view .question-option {
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f1f3;
    align-self: stretch;
    min-width: 250px;
}

.question-option .stats {
    border: 1px solid rgb(96, 139, 168);
    border-radius: 5px;
    background-color: white;
}
.question-option .votes {
    color: darkblue;
    margin: auto;
}

.question-view .btn {
    margin-top:  10px;
    font-size: 16px;
}

.question-view .btn {
    margin-top:  20px;
}

.question-view .your-vote {
    height: 0;
    position: relative;
    top: -10px;
    left: 90px;
}
.question-view .your-vote img {
    height: 65px;
}

.question-option-text {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f1f3;
    width: 100%;
}

.question-option-text div:first-child {
  width: 90%;
}

.question-or {
    font-size: 14px;
}
