.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .avatar {
    height: 250px;
}
.login img {
    margin: 20px;
    height: 200px;
}

.select-user label {
    font-size: 24px;
    padding: 20px;
}

.select-user select {
    font-size: 24px;
}

.select-user .btn {
   text-align: center;
    margin-top: 20px;
}
