.select-user label {
    font-size: 24px;
    padding: 20px;
}

.select-user select {
    font-size: 24px;
}
.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

select:focus {
    outline: none;
}
