.nav-links ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.nav-links li, a {
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: left;
    height: 50px;
    color: grey;
}

@media screen and (min-width: 64rem) {
    .nav-links ul {
        flex-direction: column;
    }
}

.nav-active {
    color: black;
    font-weight: bold;
}
