.nav-bar {
    margin: 15px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links a:hover, a:focus {
    text-decoration: none;
}

.nav-links ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.nav-links li {
    padding-top: 0;
    padding-left: 5px;
    height: 50px;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: grey;
}

.nav-active {
    color: black;
    font-weight: bold;
}

@media screen and (min-width: 64rem) {
    .nav-bar {
        margin-left: 2px;
        margin-right: 0;
    }

   .nav-links{
        padding-left: 0;
        padding-top: 10px;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

   .nav-links div {
        padding-top: 20px;
        padding-left: 0;
        font-size: 20px;
    }
}

.instructions {
    font-size: 16px;
    margin-top: 40px;
    color: #666666;
}